/*********** INFO TEXT *************/

.Dommerne {
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

.Dommerne p {
  max-width: none;
}

/*********** FRIDGE *********/

.Fridge {
  position: relative;
  width: 100%;
}

.FridgeBackground {
  display: block;
  width: 100%;
  height: auto;
}

.FridgeContent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.FridgeContent p {
  font-size: 0.8rem;
}

.FridgeJudge {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin: 1rem 1rem 4rem 1rem;
}

.FridgeJudge img {
  width: min(95px, 24vw);
  height: auto;
}

/*********** POLAROID ROTATION *********/

.JudgeImg1 {
  transform: rotate(12deg);
}

.JudgeImg2 {
  transform: rotate(-6deg);
}

.JudgeImg3 {
  transform: rotate(8deg);
}

.JudgeImg4 {
  transform: rotate(-3deg);
}

.JudgeImg5 {
  transform: rotate(13deg);
}

.JudgeImg2,
.JudgeImg4 {
  justify-self: end;
}

/********* SPONSOR ************/

.sponsor {
  margin-top: 2rem;
  margin-left: 10px;
}

.Sponsorlogo {
  width: 100px;
  margin-top: 1rem;
}

.SponsorText {
  color: var(--Yellow-color);
  font-weight: bold;
}

.SponsorDesk {
  display: none;
}

/********** TABLET **********/

@media (min-width: 600px) {
  .FridgeJudge {
    grid-template-columns: 1fr 1fr;
  }

  .FridgeJudge img {
    width: min(250px, 30vw);
  }

  .FridgeContent p {
    font-size: 1.5rem;
  }

  .FridgeContent {
    padding: 1rem;
    margin-top: 2rem;
  }
}

/********** DESKTOP **********/

@media (min-width: 801px) {
  .FridgeContent {
    margin-top: 13rem;
    padding: 1rem;
  }

  .FridgeJudge {
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 2rem;
  }

  .FridgeJudge img {
    width: min(400px, 28vw);
    height: auto;
  }

  .FridgeJudge p {
    font-size: 2.25rem;
  }

  /* Række 1, 3, 5 */

  .FridgeJudge:nth-child(odd) p {
    grid-column: 2;
    justify-self: start;
    text-align: left;
  }

  .FridgeJudge:nth-child(odd) img {
    grid-column: 1;
  }

  /* Række 2, 4 */

  .FridgeJudge:nth-child(even) p {
    grid-column: 2;
    justify-self: end;
    text-align: right;
  }

  .FridgeJudge:nth-child(even) img {
    grid-column: 3;
    justify-self: end;
  }

  /* Sponsor */

  .SponsorDesk {
    display: block;
    margin-left: 3rem;
    margin-top: 15rem;
  }

  .sponsor {
    display: none;
  }
}
