/****** RESEt ******/
* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: auto;
  display: block;
}

main {
  margin: 10px;
}

/******** FONTS *********/

h1 {
  font-family: "Arimo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  color: var(--text-color);
  font-size: 2.25rem;
}

h2 {
  font-family: "Arimo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  color: var(--text-color);
  font-size: 1.5rem;
}

.menu a {
  font-family: "Arimo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  color: var(--text-color);
  font-size: 1.5rem;
}

h3 {
  font-family: "Arimo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  color: var(--text-color);
  font-size: 1.5rem;
}

button {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: 1.25rem;
}

p,
ul,
ol,
a {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-size: 1.125rem;
  color: var(--text-color);
}

p {
  max-width: 65ch;
  line-height: 1.6;
}

.Italic-Text {
  font-weight: lighter;
  font-style: italic;
}

.light-text {
  font-weight: lighter;
}

/********* COLORS *********/

:root {
  --background-color: #1c1917;
  --text-color: #e2d5c0;
  --Yellow-color: #ddb573;
  --cta-color: #7fa6a7;
}

body {
  background-color: var(--background-color);
}

/*********** HEADER ***********/

header {
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 0 20px;
  background: transparent;
  z-index: 100;
}

/*********** LOGO ***********/

.Wordmark_logo {
  width: 75px;
  height: auto;
}

.camera_Logo {
  width: 65px;
}

.logo a {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 15px;
}

.logo {
  position: relative;
  z-index: 102;
}

/*********** BURGER ***********/

.burger {
  display: block;
  width: 30px;
  height: 20px;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  z-index: 102;
}

.burger .line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--Yellow-color);
  margin-bottom: 5px;
  transition: 0.2s linear;
}

/*********** MENU ***********/

nav {
  display: none;
}

nav.active {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--background-color);
  z-index: 101;
}

nav.active .menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  margin: 0 auto;
  padding: 140px 40px 40px;
  list-style: none;
}

nav.active .menu a {
  color: var(--Yellow-color);
  font-size: 1.5rem;
  font-weight: 500;
  font-style: normal;
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

nav.active .menu a:hover {
  color: white;
  text-decoration: overline;
  text-decoration-thickness: 1px;
  transition: 0.3s ease-in;
}

/*********** BURGER Aimation ***********/

.burger.active .line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.burger.active .line:nth-child(2) {
  opacity: 0;
}

.burger.active .line:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

/*********** FOOTER **********/

footer {
  margin: 0;
  padding: 0;
  width: 100%;

  background-image: url(../Img/Backgrounds/FooterBackgroundNEW.webp);

  background-color: var(--background-color);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.Footer_logo img {
  height: 50px;
  width: auto;
}

.Footer_logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 3rem 3rem 3rem;
}

.Footer_Date {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 3rem;
}

.Footer_Date h3 {
  color: var(--Yellow-color);
}

.Footer_links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 3rem;
  gap: 0.5rem;
}

.Footer_links a {
  color: var(--Yellow-color);
  text-decoration: underline;
}

.Footer_Content {
  padding-top: 3rem;
}

/********** DESKTOP **********/
@media (min-width: 801px) {
  /****** FONT ******/
  h1 {
    font-size: 4.75rem;
  }

  h2 {
    font-size: 3.625rem;
  }

  h3 {
    font-size: 2.25rem;
  }

  p,
  ul,
  ol,
  a {
    font-size: 1.5rem;
  }

  button {
    font-size: 2rem;
  }

  /*************** MENU *****************/

  .logo a {
    margin-left: 40px;
  }

  .Wordmark_logo {
    width: 130px;
    height: auto;
  }

  .camera_Logo {
    width: 100px;
  }

  .burger {
    width: 60px;
    height: 55px;
    margin-right: 40px;
  }

  .burger .line {
    width: 50px;
    height: 5px;
  }

  nav.active .menu a {
    font-size: 3.625rem;
    text-decoration: underline;
    text-decoration-thickness: 3px;
  }

  nav.active .menu {
    gap: 10px;
    margin-left: 20px;
  }

  nav.active .menu a:hover {
    color: white;
    text-decoration: overline;
    text-decoration-thickness: 3px;
    transition: 0.3s ease-in;
  }

  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(7px, 7px);
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -7px);
  }

  /************** FOOTER *************/

  .Footer_Content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .Footer_links {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    flex-direction: column;
    margin: 3rem;
    gap: 0.5rem;
    grid-column: 1;
    grid-row: 1;
  }

  .Footer_Date {
    grid-column: 2;
    grid-row: 1;
  }
}
