:root {
  --XS: 1.25rem;
  --S: 1.875rem;
  --M: 3.125rem;
  --L: 6.875rem;
  --XL: 9.375rem;
}

.hero_images {
  display: flex;
  flex-direction: row;
}

.hero_background {
  display: flow-root;
  background-image: url("../Img/Backgrounds/bg_hero.webp");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

header {
  position: relative;
  z-index: 100;
}

/* ----------CTA------------- */

a {
  text-decoration: none;
  color: var(--background-color);
  font-weight: 600;
}

.button {
  background-color: var(--Yellow-color);
  color: var(--background-color);
  border-radius: 10px;
  padding: 1.25rem 4rem;
  font-size: 1.25rem;
  cursor: pointer;
  transition: all 0.3s ease;
  max-width: fit-content;
}

/* -------------------------------- */

.hero_text_button {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: var(--S);
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: -100px var(--S) 0;
  gap: var(--M);
}

/* -------------- WHAT IS INSTANT UGEN? ---------------- */

.what_is_flex {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--S);
  margin: var(--M) var(--S);
}

.burgerking {
  width: 100%;
  transform: rotate(-10deg);
}

.what_is_images {
  position: relative;
  width: 100%;
}

.metro_tilt_ovenpå {
  position: absolute;
  z-index: 1;
  width: 25%;
  top: 8%;
  left: 18%;
  transform: translateX(-90px);
}

/* ------------ TIMELINE ----------- */

.timeline {
  background-image: url("../Img/Backgrounds/bg_textured_overlay.webp");
  display: flex;
  flex-direction: column;
  gap: var(--M);
  padding-block: var(--M);
  overflow-x: hidden;
}

.timeline_intro,
.timeline_outro {
  max-width: 65ch;
  display: flex;
  flex-direction: column;
  gap: var(--XS);
}

.timeline_outro {
  margin-top: var(--S);
}

.timeline_wrapper img {
  padding: 0 var(--XL);
  position: relative;
}

.timeline_wrapper {
  position: relative;
}

.timeline_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin: var(--M) var(--S);
  gap: 250px;
  position: absolute;
}

.info1 {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}

.info2 {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

.info3 {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}

.info2 {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

.infographics_index {
  display: flex;
  flex-direction: column;
  gap: var(--L);
  margin: var(--M) var(--S);
}

.infographic_1 {
  img {
    max-width: 300px;
  }
  display: flex;
  flex-direction: column;
  gap: var(--M);
}

.infographic_text {
  display: flex;
  flex-direction: column;
  gap: var(--XS);
}

.infographic_2 {
  display: flex;
  flex-direction: column;
  gap: var(--M);

  img {
    max-width: 200px;
  }
}

@media (max-width: 800px) {
  .timeline_intro,
  .timeline_outro {
    margin-inline: var(--S);
  }

  .infographic_1,
  .infographic_2 {
    display: flex;
    align-items: center;
  }
  .timeline_wrapper img {
    transform: scale(0.9);
    transform-origin: center;
  }

  .timeline_grid {
    display: block;
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    margin: 0;
  }

  .timeline_grid .info1,
  .timeline_grid .info2,
  .timeline_grid .info3,
  .timeline_grid .info4 {
    position: absolute;
    width: 30%;
  }

  .timeline_grid .info1 {
    top: 8%;
    right: 2%;
  }

  .timeline_grid .info2 {
    top: 22%;
    left: 4%;
  }

  .timeline_grid .info3 {
    top: 62%;
    right: 5%;
  }

  .timeline_grid .info4 {
    top: 88%;
    left: 4%;
  }
}
/* 
------------------------ BREAKPOINT ------------------------ */

@media (min-width: 801px) {
  .timeline {
    display: flex;
    flex-direction: column;
    gap: var(--XL);
    padding: var(--XL) 65px;
  }

  .timeline_intro {
    width: 50%;
    max-width: none;
    margin-left: 50%;
    transform: none;
  }

  .timeline_wrapper {
    height: 55rem;
    width: calc(100% + 130px);
    margin: var(--M) -65px;
    overflow: visible;
  }

  .timeline_wrapper img {
    position: absolute;
    inset: 0;
    width: 100vw;
    height: auto;
    padding: 0;
    margin: auto;
    transform: rotate(105deg) scale(0.28);
  }

  .timeline_grid {
    inset: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    z-index: 1;
  }

  .timeline_grid .info1,
  .timeline_grid .info2,
  .timeline_grid .info3,
  .timeline_grid .info4 {
    position: absolute;
    width: 18%;
  }

  .timeline_grid .info1 {
    top: 0%;
    left: 65px;
  }

  .timeline_grid .info2 {
    bottom: 35%;
    left: 25%;
  }

  .timeline_grid .info3 {
    top: 35%;
    right: 22%;
  }

  .timeline_grid .info4 {
    bottom: 5%;
    right: 5%;
  }

  .timeline_outro {
    width: 50%;
    max-width: none;
    margin-left: 0;
  }

  .hero {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    margin: -120px 65px 0;
  }

  .hero_images {
    grid-column: 1;
    grid-row: span 2;
    align-self: start;
  }

  .hero_text_button {
    grid-column: 2;
    grid-row: 2;
    margin-left: -10rem;
  }

  .what_is_flex {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    margin: var(--L) 65px;
  }

  .what_is_images {
    grid-column: 2;
    overflow: visible;
  }

  .metro_tilt_ovenpå {
    transform: translateX(-100px);
  }

  .what_is_text {
    display: flex;
    flex-direction: column;
    gap: var(--S);
    order: -1;
  }

  .infographics_index {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    gap: var(--M);
    margin-inline: 65px;
  }

  .infographic_1,
  .infographic_2 {
    width: 40%;
  }

  .infographic_2 {
    margin-top: -100px;
  }

  .infographic_1 {
    margin-top: var(--L);
  }
}
